In [ ]:
# import pandas as pd
df =pd.read_csv("C:/Users/Developer/Desktop/SAMPLING/JOIN-DELET NULL AND DUPLICATE.csv",
               header= 0,
                        encoding= 'utf-8',error_bad_lines = False)
print(df)

In [48]:
df.columns.values

array(['TwitterTweetId', 'TwitterUserId', 'ScreenName', 'CreatedAt',
       'Text', 'user2'], dtype=object)

In [49]:
len(df.index)

292124

In [22]:
df.head()

,TwitterTweetId,TwitterUserId,ScreenName,CreatedAt,Text,user2
0,-9037574822283821054,-9223372036750186878,aalodah,2012-03-30 18:34:42.000,@aalodah فلايذر المطي بلاسنام.. ولم أر في عيوب...,aalodah
1,-9037574681715920895,-9223372036432970078,Sattamg,2012-03-30 18:35:16.000,@Alqudaimi ٣١- في المجتمع السعودي.وأن ١٠٪ من ه...,Sattamg
2,-9037574249241247743,-9223372036432970078,Sattamg,2012-03-30 18:36:59.000,@Alqudaimi ٣٢- ويصف القديمي ١٠٪ هذا بأنها مهمش...,Sattamg
3,-9037574084237311998,-9223372036432970078,Sattamg,2012-03-30 18:37:38.000,@Alqudaimi ٣٣-في (١١٠) وبضرب من شعوذة، ودجل؛ ن...,Sattamg
4,-9037573893740425215,-9223372036432970078,Sattamg,2012-03-30 18:38:23.000,@Alqudaimi ٣٤-أن تونس والاردن، ليبراليتان، لكن...,Sattamg

In [45]:
def data_cleaning (text):
    # clean-up:
    # remove qutoions 
    text = text.strip()

    text= re.sub(r'http\S+', '', text)
    
    text= re.sub(r'ي+','ي', text)
    text = text.replace("آ", "ا")
    text = text.replace("إ", "ا")
    text = text.replace("أ", "ا")
    text = text.replace("ؤ", "و")
    text = text.replace("ئ", "ي")


    text= re.sub(r'[@|#]\S*', '',text)
    text= re.sub(r'"+', '', text)
    # Remove arabic signs
    text= re.sub(r'([@A-Za-z0-9_ـــــــــــــ]+)|[^\w\s]|#|http\S+', '', text)
    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
   
    

    # Remove repeated letters like "الللللللللللللللله" to "الله"
    text= text[0:2] + ''.join([text[i] for i in range(2, len(text)) if text[i]!=text[i-1] or text[i]!=text[i-2]])
    text= re.sub(r'D',':D', text)
    text= re.sub(r'هه+', 'face_with_tears_of_joy', text)
    text= convert_emojis(text)
    text= convert_emoticons(text)
    text = give_emoji_free_text(text)

     # Removing punctuations in string
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    text=re.sub(r'(?:^| )\w(?:$| )', ' ', text)
    text = re.sub(r"$\d+\W+|\b\d+\b|\W+\d+$", "", text)
    text = re.sub(" \d+", " ", text)
    text = re.sub("(\s\d+)","",text)
    text = re.sub(r'\s+', ' ', text)
    text = re.sub("(\s\d+)","",text) 
    # Returns: hi what is the weather like
    

    return text

In [50]:
df=df[['ScreenName', 'Text']]
df = df.sample(frac=0.0144)
print(len(df.index))
df.head()

4207

            ScreenName                                               Text
204667      qahtani_s1    @3ezz11 هههه هذه المرحلة الأولى ثم تتسع الدائرة
253792  AbuMohammedSun  RT @aalodah: #الحرية_لعبدالرحمن_السدحان الذي أ...
3687          fawaz177  أشراط الساعة ـ مقطع مؤثر \nhttp://t.co/Go0p007...
234781         weed277             @aalodah @MohannaAlhubail آمين آمين ..
177100     abou_bakrs2  @MohannaAlhubail اللهم ارحمها وادخلها الجنة مع...

In [53]:
df.to_csv('C:/Users/Developer/Desktop/SAMPLING/final/sample_2' ,
            index =False)